@using Netblaster.Hermes.DAL.Model.Enums
@using Netblaster.Hermes.WebUI.Helpers
@model ICollection<Netblaster.Hermes.DAL.Model.TaskSubItem>

@if (Model != null)
{
    <table class="table table-hover table-mailbox">
        <tbody>
        @foreach (var subItem in Model.OrderBy(x => x.Id))
        {
            <tr class="unread panel-body-padding-md" @(subItem.IsFinished ? "style=background-color:lightgreen" : "")>
                <td>
                    <div class="checkbox checkbox-single checkbox-success">
                        <input class="IsFinished" element-id="@subItem.Id" type="checkbox" checked="@subItem.IsFinished" name="IsFinished" @(subItem.TaskItem.ItemStatus == TaskItemStatus.Rejected ? "disabled='disabled'" : "")/>
                        <label></label>
                    </div>
                </td>
                <td>@subItem.Text</td>
                <td>
                    @if (subItem.Attachments.Any())
                    {
                        <a href="/Other/DownloadFile/@subItem.Attachments.First().Id"><i class="fa @(subItem.Attachments.First().MimeType.MapMimeTypeToIcon()) text-info"></i> @subItem.Attachments.First().FileName</a>
                    }
                </td>
                <td class="text-right mail-date">
                    @if (subItem.IsFinished)
                    {
                        <small>Ukończono : @Html.Raw(subItem.FinishedBy != null ? $"{subItem.FinishedBy.DisplayName} <b>({subItem.FinishedDate})</b>" : $"<b>{subItem.FinishedDate}</b>")</small>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
 
}

