@model Netblaster.Hermes.BLL.DTOs.FilterBoxes.ContactFilterDto

@using (Ajax.BeginForm("Index", null, new AjaxOptions() { UpdateTargetId = "ajax-list-grid", HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "PagedListSectionApp.tableBeginLoad()", OnComplete = "PagedListSectionApp.tableEndLoad()" }, htmlAttributes: new { @id = "filter-form" }))
{
    @Html.HiddenFor(model => model.Page, htmlAttributes: new { @id = "page-number" })
    @Html.HiddenFor(model => model.PageSize, htmlAttributes: new { @id = "page-size" })
    @Html.HiddenFor(model => model.SortParam, htmlAttributes: new { @id = "sort-param" })
    @Html.HiddenFor(model => model.ItemsTotalCount, htmlAttributes: new { @id = "items-total-count" })

    <div id="filter-box">
        <div class="row">
            <div class="col-sm-3">
                @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control datetime" } })
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.ClientName, htmlAttributes: new {@class = ""})
                @Html.EditorFor(model => model.ClientName, new {htmlAttributes = new {@class = "form-control"}})
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.CreatedById)
                @Html.DropDownListFor(model => Model.CreatedById, Model.AvailableUsers, "Wybierz użytkownika...", new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.SelectedContactType)
                @Html.DropDownListFor(model => Model.SelectedContactType, Model.AvailableContactTypes, "Wybierz typ kontaktu...", new { @class = "form-control form-control-sm" })
            </div>
        </div>

        @*<div class="row margin-top-sm">
            <div class="col-sm-3">
                @Html.LabelFor(model => model., htmlAttributes: new { @class = "control-label  display-block" })
                @Html.EditorFor(model => model.Knt_Powiat, new { htmlAttributes = new { @class = "form-control", @style = "width:100%" } })
            </div>
            
            <div class="col-sm-3">
                @Html.LabelFor(model => model.Knt_Ulica, htmlAttributes: new { @class = "control-label  display-block" })
                @Html.EditorFor(model => model.Knt_Ulica, new { htmlAttributes = new { @class = "form-control", @style = "width:100%" } })
            </div>
            
            <div class="col-sm-3">
                @Html.LabelFor(model => model.Knt_KodPocztowy, htmlAttributes: new { @class = "control-label  display-block" })
                @Html.EditorFor(model => model.Knt_KodPocztowy, new { htmlAttributes = new { @class = "form-control", @style = "width:100%" } })
            </div>
            
        </div>*@

        <div class="row margin-top-md">
            <div class="col-xs-12">
                <button class="btn btn-sm btn-danger space-right-xs" type="button" id="btn-clean-filters"><i class="fa fa-trash space-right-sm"></i>  Wyczyść</button>
                <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-search space-right-sm"></i>  Filtruj kontakty</button><br /><br />
            </div>
        </div>
    </div>
}


