@model IEnumerable<Netblaster.Hermes.DAL.Model.UserMessage>

<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-hover table-mailbox">
            <tbody>
            @foreach (var msg in Model)
            {
                <tr @(!msg.IsRead ? "class=unread" : "")>
                    <td class="col-md-2">
                        <a href="/User/MessageDetails/@msg.Id">@msg.SenderDisplayName</a>
                    </td>
                    <td class="col-md-4">
                        <a href="/User/MessageDetails/@msg.Id">@msg.Text</a>
                    </td>
                    <td class="col-md-2">@msg.CreateDate</td>
                    <td class="col-md-4">
                        @if (!msg.IsDeleted)
                        {
                            <a href="@Url.Action("SoftDeleteMsg", "User", new {id = msg.Id})" class="btn btn-xs btn-danger margin-right-sm"> <i class="fa fa-times"></i>Do kosza</a>
                        }
                        else
                        {
                            <a href="@Url.Action("HardDeleteMsg", "User", new {id = msg.Id})" class="btn btn-xs btn-danger margin-right-sm"> <i class="fa fa-times"></i>Usuń trwale</a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>